application.name                        {{ confluence_application_name }}
application.password                    {{ confluence_application_password }}
application.login.url                   {{ confluence_crowd_base_url }}/console/

crowd.server.url                        {{ confluence_crowd_base_url }}/services/
crowd.base.url                          {{ confluence_crowd_base_url }}/

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              5
session.lastvalidation                  session.lastvalidation
